node_modules/

# Ignore old .env format and accidentally commited secrets
.env
backend/.env
frontend/.env
**/.env.*.local

# BUT keep environment configuration templates (no sensitive data)
!backend/.env.local
!backend/.env.production
!backend/.env.example
!frontend/.env.local
!frontend/.env.production
!frontend/.env.example

# Logs
*.log

# Build directories
dist/
build/

# OS files
.DS_Store

# IDE
.vscode/
.idea/
